/* デスクトップ用のスタイル */
h1 {
  font-size: 30px;
  padding: 0.5em;
  color: #fefffe;
  background: #666;
  border-bottom: solid 3px #fefffe;
}

.count {
  margin: 0;
  font-weight: bold;
  color: #666;
}

.wrap {
  margin-top: 20px;
  padding: 100px 60px;
  background-color: #666;
  font-weight: bold;
  color: #fff;
  margin-bottom: 120px;
}

.typed {
  color: rgb(0, 0, 0);
}

.mistyped {
  background-color: red;
}

.button-container button,
.button-container a button {
  background-color: #666;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 50px 0px 50px;
  cursor: pointer;
  border-radius: 4px;
}

.button-container button:hover,
.button-container a button:hover {
  background-color: #333;
}

/* 全体要素 */

body {
  background-color: black;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  /* タブレット用 */

  body {
    font-size: 2em;
    margin-bottom: 40px;
  }

  h1 {
    font-size: 24px;
  }

  .wrap {
    padding: 50px 30px;
    margin-bottom: 80px;
  }

  .button-container button,
  .button-container a button {
    padding: 10px 20px;
    font-size: 14px;
    margin: 0px 20px 0px 20px;
  }
}

@media screen and (max-width: 414px) {
  /* iPhone用 */

  body {
    font-size: 1.0em;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 24px;
  }

  .wrap {
    padding: 30px 20px;
    margin-bottom: 40px;
  }

  .button-container button,
  .button-container a button {
    padding: 8px 16px;
    font-size: 12px;
    margin: 0px 10px 0px 10px;
  }
}