/* JavaScriptタイピングゲーム */

.sample {
    font-size: 3em;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 0 0.2em rgb(255, 255, 255);
    margin-top: 20%;
    margin-bottom: 15%;
  }
  
  /* ボタン修飾 */
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .inner {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  button {
    font-size: 1.5em;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 0 0.2em rgb(255, 255, 255);
    background-color: #666;
    border: none;
    padding: 30px 30px;
    margin: 5px;
    cursor: pointer;
    margin-bottom: 10%;
  }
  
  button:hover {
    background-color: #888;
  }
  
  /* 全体要素 */
  
  body {
    padding: 0;
    margin: 0;
    background: rgb(0, 0, 0);
    text-align: center;
  }
  
/* メディアクエリ */
@media screen and (max-width: 768px) {
    .sample {
      font-size: 1.5em;
      margin-top: 10%;
      margin-bottom: 5%;
    }
    
    button {
      font-size: 1.2em;
      padding: 15px 15px;
      margin: 2px;
    }
  }
  @media screen and (max-width: 480px) {
    .sample {
      font-size: 1.0em;
      margin-top: 10%;
      margin-bottom: 5%;
    }
    
    button {
      font-size: 1em;
      padding: 10px 10px;
      margin: 2px;
    }
  }
  
  