/* デスクトップ用のスタイル */
h1 {
  font-size: 40px;
  padding: 0.5em;
  color: #fefffe;
  background: #666;
  border-bottom: solid 3px #fefffe;
}

.count {
  margin: 0;
  font-weight: bold;
  color: #666;
}

.wrap {
  margin-top: 20px;
  padding: 100px 60px;
  background-color: #666;
  font-weight: bold;
  color: #fff;
  margin-bottom: 150px;
}

.typed {
  color: rgb(0, 0, 0);
}

.mistyped {
  background-color: red;
}

.button-container button,
.button-container a button {
  background-color: #666;
  border: none;
  color: white;
  padding: 20px  40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 50px 0px 50px;
  cursor: pointer;
  border-radius: 4px;
}

.button-container button:hover,
.button-container a button:hover {
  background-color: #333;
}

body {
  background-color: black;
  font-size: 4em; 
  text-align: center;
}

body {
  margin-bottom: 100px;
}

/* タブレット用のスタイル */
@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
  .count {
    font-size: 24px;
  }
  .wrap {
    padding: 50px 30px;
  }
  .button-container button,
  .button-container a button {
    font-size: 14px;
    padding: 10px 20px;
    margin: 0px 20px 0px 20px;
  }
}

/* スマートフォン用のスタイル */
@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }
  .count {
    font-size: 18px;
  }
  .wrap {
    padding: 30px 20px;
  }
  .button-container button,
  .button-container a button {
    font-size: 12px;
    padding: 8px 16px;
    margin: 0px 10px 0px 10px;
  }
}
